<p>운동일지</p>

"{{user_id}}"님 안녕하세요

<br><br>


<table class="table">
    <thead>
      <tr>
        <th scope="col">운동이름</th>
        <th scope="col">무게</th>
        <th scope="col">횟수</th>
        <th scope="col">셋트</th>
        <th scope="col">삭제</th>
        <th scope="col">완료</th>
      </tr>
    </thead>
    <tbody>



    {% for lesson in lessons %}

        {% if lesson.completion == 1 %}
        <tr style="text-decoration: line-through;">
            <th>{{ lesson.name }}</th>
            <td>{{ lesson.weight }}</td>
            <td>{{ lesson.count }}</td>
            <td>{{ lesson.set }}</td>
            <td><a href="{% url 'delete' lesson.id %}">삭제</a></td>
            <td><a href="{% url 'completion' lesson.id %}">완료</a></td>
        </tr>

        {% else %}

        <tr>
            <th>{{ lesson.name }}</th>
            <td>{{ lesson.weight }}</td>
            <td>{{ lesson.count }}</td>
            <td>{{ lesson.set }}</td>
            <td><a href="{% url 'delete' lesson.id %}">삭제</a></td>
            <td><a href="{% url 'completion' lesson.id %}">완료</a></td>
        </tr>
        {% endif %}



    {% endfor %}


    </tbody>
  </table>



  <br>
  <form action="{% url 'add' %}">
      <h4>운동제목: </h4>
      <input type="text" name="name">
      <br>
      <br>
      <h4>중량: </h4>
      <input type="text" name="weight">
      <br>
      <br>
      <h4>횟수: </h4>
      <input type="text" name="count">
      <br>
      <br>
      <h4>세트: </h4>
      <input type="text" name="set">
      <input class="btn btn-dark" type="submit" value="운동 추가">
  </form>
  </div>
  