"{{member.user_name}}" 회원님 수업

<br><br>


<table class="table">
    <thead>
      <tr>
        <th scope="col">운동이름</th>
        <th scope="col">무게</th>
        <th scope="col">횟수</th>
        <th scope="col">셋트</th>
        <th scope="col">삭제</th>
        <th scope="col">완료</th>
      </tr>
    </thead>
    <tbody>



    {% for lesson in lessons %}

        {% if lesson.completion == 1 %}
        <tr style="text-decoration: line-through;">
            <th>{{ lesson.name }}</th>
            <td>{{ lesson.weight }}</td>
            <td>{{ lesson.count }}</td>
            <td>{{ lesson.set }}</td>
            <td><a href="{% url 'delete' user_id lesson.id %}">삭제</a></td>
            <td><a href="{% url 'completion' user_id lesson.id %}">완료</a></td>
        </tr>

        {% else %}

        <tr>
            <th>{{ lesson.name }}</th>
            <td>{{ lesson.weight }}</td>
            <td>{{ lesson.count }}</td>
            <td>{{ lesson.set }}</td>
            <td><a href="{% url 'delete' user_id lesson.id %}">삭제</a></td>
            <td><a href="{% url 'completion' user_id lesson.id %}">완료</a></td>
        </tr>
        {% endif %}



    {% endfor %}


    </tbody>
  </table>

